<footer class="bd-footer py-4 py-md-5 mt-5 bg-dark">
    <div class="container py-4 py-md-5 px-4 px-md-3">
        <div class="row">
            <div class="col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
                <div class=" mb-3">
                    Fostoria Community Band
                </div>
            </div>
            <div class="col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-end">
                Check us out on: 
                <a href="https://www.facebook.com/1995FCB"><p><i class="bi bi-facebook"></i> Facebook!</p></a>
            </div>
        </div>
    </div>
</footer>

<!-- <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="col-sm-6">
            <p>Fostoria Commnity Band</p>
            <p></p>
        </div>
        <div class="col-sm-6 text-end">
            <p>Follow us on Facebook!</p>
        </div>
    </div>
</nav> -->