<div class="container">
    <h2>Current Board Members</h2>
    <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Phillip Miller</h5>
                    <p class="card-text">Director</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Cody Switzer</h5>
                    <p class="card-text">President</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Rachel Fleck</h5>
                    <p class="card-text">Secretary</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Curt Dahms</h5>
                    <p class="card-text">Treasurer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Natalie Ardner</h5>
                    <p class="card-text">Board Member</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Fayanne Corfman</h5>
                    <p class="card-text">Board Member</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Tom Schetter</h5>
                    <p class="card-text">Board Member</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Donna Eash</h5>
                    <p class="card-text">Librarian</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Anne Barbour</h5>
                    <p class="card-text">Librarian</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Jane Schetter</h5>
                    <p class="card-text">Announcer</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <img src="..." alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Drew Ardner</h5>
                    <p class="card-text">Webmaster</p>
                </div>
            </div>
        </div>
    </div>
    
</div>