<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-start">
      <h2>Contact Us!</h2>
      <p>
        Interested in joining the band? Let us know! Fill out the form to the
        right with some basic infomraiton about yourself: Name, Instrument, how
        long you've been playing, and any other questions/comments you have.
        Someone from the band will reach out to you with more details.
      </p>
      <p>
        If you're all ready to join us in person, that's great! Practice takes
        place on most Thursday nights, 7pm - 9pm at the Fostoria
        Elementary Bandroom. Please park in the rear parking lot, to the north
        of the elementary school building, west of the Junior High/Highschool building.
        The band breaks from practice after certain concerts, so
        please be sure to check the schedule to see if practice is currently
        ongoing, or to see when practice will begin next.
      </p>
      <br/>
      <br/>
      <h4>Address</h4>
      <p>Fostoria Elementary School<br/>1202 H L Ford Dr,<br/> Fostoria, OH <br/>44830</p>
    </div>
    <div class="col-md-1 col-lg-1">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdnGqF4JvJpHv1M9BbgENOSkNhuq3NJrlIQhtrN3t2h_T4u-Q/viewform?embedded=true" width="640" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </div>
</div>
