<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-start">
      <h2>Contact Us!</h2>
      <p>
        Interested in joining the band? Let us know! Fill out the form to the
        right with some basic infomraiton about yourself: Name, Instrument, how
        long you've been playing, and any other questions/comments you have.
        Someone from the band will reach out to you with more details.
      </p>
      <p>
        If you're all ready to join us in person, that's great! Practice takes
        place on most Thursday nights, 7pm - 9pm at the Fostoria 
        Elementary Bandroom. Please park in the rear parking lot, to the north
        of the elementary school building, west of the Junior High/Highschool building. 
        The band breaks from practice after certain concerts, so
        please be sure to check the schedule to see if practice is currently
        ongoing, or to see when practice will begin next.
      </p>
      <br/>
      <br/>
      <h4>Address</h4>
      <p>Fostoria Elementary School<br/>1202 H L Ford Dr,<br/> Fostoria, OH <br/>44830</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <form action="post">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">To </label>
          <div class="col-sm-9">
            <input
              type="text"
              readonly
              class="form-control-plaintext"
              id="staticEmail"
              value="contact@fostoriacommunityband.org"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="fromEmail" class="col-sm-3 col-form label">From</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="fromEmail" />
          </div>
        </div>
        <div class="mb-3 row">
          <div class="mb-3 col">
            <label for="firstName" class="col-sm-12 col-form label"
              >First Name</label
            >
            <div class="col-sm-12">
              <input type="text" class="form-control" id="firstName" />
            </div>
          </div>
          <div class="mb-3 col">
            <label for="lastName" class="col-sm-12 col-form label"
              >Last Name</label
            >
            <div class="col-sm-12">
              <input type="text" class="form-control" id="lastName" />
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="instrument" class="col-sm-3 col-form label"
            >Instrument</label
          >
          <div class="col-sm-9">
            <input type="text" class="form-control" id="instrument" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="yearsExperience" class="col-sm-3 col-form label"
            >Years of Experience</label
          >
          <div class="col-sm-3">
            <input type="number" class="form-control" id="yearsExperience" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="emailBody" class="col-form label">Body</label>
          <div class="col-sm-12">
            <textarea rows="6" class="form-control" id="emailBody"></textarea>
          </div>
        </div>
        <div class="mb-3 row">
          <button
            type="button"
            class="col-sm-12 col-md-2 col-lg-2 btn btn-primary"
          >
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
