<div class="container-fluid">
    <h2>Meet our Director</h2>
    <h3>Phillip Miller</h3>
    <p>Mr. Phillip Miller has been the director of the Fostoria Community Band since the Fall of 2020. He is currently
        in his twenty-first year as director of bands at Carey Exempted Village Schools. His duties at Carey Exempted
        Village Schools include the Pride of Carey Marching Band, CHS Concert Band, CHS Jazz Express, 8th grade band,
        7th grade band, junior high jazz band, and sixth grade band. During his tenure, the Carey Bands have performed
        for many local and regional functions, as well as traveled to Washington D.C., New York, Chicago, Virginia Beach
        and Gatlinburg, Tennessee.</p>
    <p>In addition to his teaching and conducting duties, he is an active performer in the Findlay Community Band, has
        served as an adjunct professor with Tiffin Universitiy's music department, and has performed in several area
        musical productions.</p>
    <p>A native of Toledo, Ohio, he is a graduate of the University of Toledo with a Bachelor's of Music Education and
        Heidelburg University with a Masters of Music Education. He resides in Carey with his wife, Sara, and two sons,
        Riley and Sawyer.</p>
</div>