<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img class="col-sm-1" src="">
        <a class="navbar-brand col-sm-2" href="#">Fostoria Community Band</a>
        <span class="col-sm-6"></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/history">History</a></li>
                        <li><a class="dropdown-item" href="/board-members">Board Members</a></li>
                        <li><a class="dropdown-item" href="/current-director">Current Director</a></li>
                        <li><a class="dropdown-item" href="/past-directors">Past Directors</a></li>
                        <li><a class="dropdown-item" href="/in-memory">In Memory</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>